body{
    background-color: deepskyblue;
border-style: solid;}

.container{
    width: 60%;
    margin:auto;
    text-align: center;
}

.dice{
    text-align: centre;
    display: inline-block;
    /* border-style: solid; */
    width: 150px;
}

h1{
    margin: 30px;
    font-family: cursive ;
    font-size: 4rem;
    color: white;
}
p{
    font-size: 2rem;
    color: white;
    font-family: cursive;
}
img{
    width: 60%;
}
footer{
    font-family: cursive;
    color: white;
    margin-left: 42%;
    /* text-align: center; */
    font-size: 2rem;
    /* margin-top: 20px; */
}
.butt{
    font-family: cursive;
    color: white;
    font-size: 2rem;
    text-align: center;
    /* width: 10%; */
   border-radius: 7px;
   background-color: deepskyblue;
  border-color: deepskyblue;
  cursor: pointer;
}
.play{
    /* text-align: center;  */
    width: 30%;
    margin-left: 45%;
}
.refresh{
    font-size: 2rem;
    font-family: cursive;
    color: white;
    
}





